
<div class="logoPlural">
  <img src="assets/img/logo-colorido.png" alt="">
</div>

<div class="form-container text-center mat-elevation-z5">
  <img class="User" src="assets/img/User.png" alt="User">

<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <mat-form-field>
    
    <input matInput placeholder="Email" formControlName="email" type="email"/>
    
    <mat-error *ngIf="email?.errors?.['required']">
      Campo Obrigatório!
    </mat-error>
    <mat-error *ngIf="email?.errors?.['email']">
      E-mail Incorreto.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Senha" formControlName="password" type="password"/>
    <mat-error *ngIf="password?.errors?.['required']">
      Campo Obrigatório!
    </mat-error>
  </mat-form-field>
  <div class="center margin-top">
    <button mat-raised-button class="btn-azul" type="submit">
      Entrar
    </button>
  </div>

  <span class="center margin-top">Não tem acesso?<a class="sign-up-link" routerLink="/sign-up">Cadastre-se!</a></span>
</form>
</div>

