
.mat-mdc-raised-button{
    background-color:#002758;
    color: white;
  }
  .mat-mdc-button{
    background-color:#002758;
    color: white;
  }
  .mat-toolbar{
    background-color: #002758;
    color: white;
  }