@import "../scss/base/variables";



.content {
  padding: 0px;
}

.logoPlural{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

body{
  background-color: $AzulPlural;
}


