@import "../scss/base/variables";

mat-toolbar{
  justify-content: space-between;
}

.content {
  padding: 32px;
}

.logoPlural{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

body{
  background-color: $AzulPlural;
}


