
.form-container {
   display: block;
   max-width: 300px;
   margin: 20px auto auto auto;
 
   background-color: #fff;
   
   padding: 40px;
   border-radius: 30px;

}

.form-container mat-form-field {
  width: 100%;
}