@import "../../../../scss/base/variables";


.container-chat {
    display: flex;
    height: 85vh;
    margin-right: 2vw;
    min-width: 800px;

    .chat-list {
      width: 40%;
      margin: 16px;
      background: white;
      border-radius: 16px;
      overflow: auto;


      .search-input {
        margin: 24px;
        display: flex;
        justify-content: center;
      }


  }
}











.messages {
    width: 60%;
    padding: 24px;
    margin: 16px;
    margin-left: 8px;
    border-radius: 16px;
    background: white;
}
.messages-header {
    display: flex;
    margin-bottom: 8px;
     > img {
         border-radius: 50%;
         object-fit: cover;
         margin-right: 16px;
         height: 40px;
         width: 40px;
     }
     > h2 {
        margin: 0;
     }
}

.chat-area {
    height: calc(85vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;

    > :first-child {
        margin-top: auto;
    }

            .chat-bubble-container {

                display: flex;
                width: 100%;
                justify-content: flex-start;

                > .chat-bubble {
                    background: rgba($color: #A0A0A0, $alpha: 0.60);
                    color: black;
                    padding-top: 8px;
                    padding-bottom: 18px;
                    padding-left: 8px;
                    padding-right: 100px;
                    margin-bottom: 16px;
                    border-radius: 8px;
                    width: fit-content;

                    position: relative;

                    > .chat-time {
                        position: absolute;
                        bottom: 2px;
                        right: 8px;
                        font-size: 0.7rem;
                        color: rgba(0,0,0,0.6);
                    }
                }

            }

    .chat-bubble-container.sender {
        justify-content: flex-end;

        > .chat-bubble {
            background: rgba($color: #A0A0A0, $alpha: 0.40);
        }
    }
}

.input-area{
    padding-top: 16px;
    padding-bottom: 8px;


}

.input-area > mat-form-field{
    width: 100%;
}


.chat-title {
    display: flex !important;
    justify-content: space-between;
}

.chat-name {
    font-weight: 500;
}

.chat-date {
    font-size: 0.7rem;
    color: rgba(0,0,0,0.7);

}


.icon-send{
    color: $AzulPlural;
}

